.product-page {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.product-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  margin-bottom: 40px;
  animation: scroll 30s linear infinite;
  height: 100%;
  width: 300%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1560px);
  }
}

.product {
  flex: 0 0 auto;
  width: 400px;
  margin-right: 60px;
  text-align: center;
}

.product:last-child {
  margin-right: 0;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product h3 {
  margin-bottom: 10px;
}

.product p {
  margin-bottom: 20px;
}

.product button {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.product button:hover {
  background-color: #0056b3;
}
