.product-page {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.intro-container {
  display: flex;
  position: relative;
  /* display: grid; */
  /* grid-template: 100%/100%; */
}

.intro {
  flex: 0 0 auto;
  width: 400px;
  margin-right: 60px;
  text-align: center;
}

.product:last-child {
  margin-right: 0;
}
.card {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  font-weight: 500;
}
.intro img {
  width: 30%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product h3 {
  margin-bottom: 10px;
}

.product p {
  margin-bottom: 20px;
}

.product button {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.product button:hover {
  background-color: #0056b3;
}
